@import '../../../assets/styles/vars';

  .files-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .files-item-handler {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .files-item-amount-value {
    font-size: 22px;
    padding: 10px;
  }

  .files-item-header {
    margin-bottom: 20px;
  }
  
  .files-item-title {
    font-size: 18px;
    line-height: 1.4;
    color: $black;
    text-decoration: none;
  }

  .button.button-detail, .button.button-trash {
    width: 40px;
    height: 40px;
    padding: 0;
  }

  .button-trash {
    margin-left: 30px;
    background-color: $error
  }

  .files-item-amount-wrapper {
    margin-right: auto;
  }

  .button-trash-icon {
    font-size: 22px;
    pointer-events: none;
  }

  .button-detail-icon {
    font-size: 22px;
    pointer-events: none;
  }

  .files-item-type {
    width: 26px;
    min-width: 26px;
    height: 26px;
    background-color: #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    float: right;
    margin-left: 10px;
    margin-top: 4px;
    font-weight: bold;
  }
  
@media #{$tablet} {
  .files-item {
    flex-direction: row;
  }
  .files-item-title {
    margin-bottom: 0;
    margin-right: 40px;
  }
  .files-item-type {
    float: none;
    margin: 0;
    margin-right: 20px;
  }
  .files-item-header {
    display: flex;
    align-items: flex-start;
  }
}
