@import '../../../assets/styles/vars';

.add-modal {
  .modal {
    max-width: 600px;
  }
}

.add-modal-title {
  font-weight: bold;
  color: $black;
  margin-bottom: 30px;
  display: block;
}

.modal-wrapper-disabled {
  display: none;
}
