@import '../../../assets/styles/vars';

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: $gray-header;
}

.header-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.header-title {
  color: white;
  font-size: 16px;
}
