@import '../../../assets/styles/vars';

.files-sort-order {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  &.rolled {
    .files-order-list {
      opacity: 0;
    }
    .files-order-item {
      height: 0;
    }
  }
  &.unrolled {
    .files-sort-icon {
      transform: rotate(180deg);
    }
    .files-sort-roll {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
.files-sort-roll {
  justify-content: space-between;
}

.files-sort-icon {
  color: white;
  font-size: 20px;
}
.files-order-item {
  font-size: 14px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  transition: height 0.3s;
  cursor: pointer;
  color: $black;
  &:hover {
    font-weight: bold;
  }
  &:not(:last-child) {
    border-bottom: 1px solid $primary;
  }
}

.files-order-list {
  position: absolute;
  top: 40px;
  width: 100%;
  border: 1px solid $primary;
  background-color: white;
  transition: opacity 0.2s;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media #{$tablet} {
  .files-sort-order {
    width: 260px;
  }
}
