@import '../../../assets/styles/vars';

.modal-wrapper {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  padding: 10px;
}

.modal {
  background-color: white;
  position: relative;
  z-index: 2;
  margin: auto;
  width: 100%;
  max-width: 400px;
  padding: 30px 24px 20px;
  border-radius: 5px;
}

.remove-modal-title {
  font-weight: bold;
  color: $black;
  margin-bottom: 30px;
  display: block;
}

.remove-modal-title-desc {
  font-size: 14px;
  margin-bottom: 50px;
  display: flex;
  padding: 0 20px;
  text-align: center;
  line-height: 1.4;
}

.remove-modal-handler {
  display: flex;
  justify-content: space-between;
  .button {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.modal-close {
  position: absolute;
  right: 4px;
  top: 4px;
  padding: 10px;
  background: white;
  cursor: pointer;
}

.modal-close-icon {
  font-size: 24px;
}
