@import '../../assets/styles/vars';

.document-description {
  font-size: 14px;
  color: $gray-footer;
  p {
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

.document-released-on {
  font-size: 12px;
  color: $grey;
}

.document-return-link {
  color: $primary;
  font-weight: bold;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
}

.document-handler-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.document-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 30px;
}
