@import '../../assets/styles/vars';

.files-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.files-empty-text {
  margin: 50px 0 12px;
  font-weight: bold;
  font-size: 14px;
}

.files-empty-link {
  color: $primary;
  font-weight: bold;
  font-size: 18px;
}

.files-empty-image {
  max-height: 200px;
}

.files-summary {
  margin: auto;
  margin-bottom: 40px;
}

.files-summary-item {
  padding: 20px 10px;
  &:not(:last-child) {
    border-bottom: 1px solid $box-shadow;
  }
}

.button-summary {
  margin: 50px auto 20px;
  display: flex;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  >* {
    color: $primary;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    &.active {
      border: 1px solid $primary;
      border-radius: 5px;
    }
    &:hover {
      cursor: pointer;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .disabled {
    color: $box-shadow;
  }
}

.files-handler {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.add-button {
  margin-bottom: 30px;
}

.add-button-icon {
  color: $primary;
  font-size: 18px;
  visibility: visible;
  margin-right: 14px;
}

@media #{$tablet} {
  .files-handler {
    margin-bottom: 50px;
    justify-content: space-between;
    flex-direction: row;
  }
  .add-button {
    margin-bottom: 0;
  }
}
