.page-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 22px;
  color: $black;
  line-height: 1.4;
}

.page-subtitle {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
  color: $black;
}

.page-wrapper {
  min-height: calc(100vh - 196px);
}

.section-wrapper {
  padding: 40px 0 60px;
}

.button {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 5px;
  border: 1px solid $primary;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.button-primary {
  background-color: $primary;
  color: $white;
  &:hover {
    background-color: darken($primary, 10%);;
  }
}

.button-secondary {
  background-color: white;
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.button-error {
  background-color: $error;
  color: white;
  border: 1px solid $error;
  &:hover {
    background-color: darken($error, 10%);
  }
}

.button-success {
  background-color: $success;
  color: white;
  border: 1px solid $success;
  &:hover {
    background-color: darken($success, 10%);
  }
}
