@import '../../assets/styles/vars';

.notfound-wrapper {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.notfound-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: $black;
  margin: 40px 0;
}

.notfound-description {
  color: $grey-font;
  font-size: 14px;
  line-height: 1.4;
  max-width: 400px;
  margin: 0 auto 20px;
}

.notfound-button {
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
